@{
    ViewData["Title"] = "Home Page";
}

<h1>
    ПРИВЕТСТВУЕМ!
</h1>
<h2>
    На данном портале вы можете просмотреть или добавить документ,<br/>
    который привязан к определенному человеку.
</h2>

