@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Работу выполнили студенты группы ИСТ-032:<br/>
    Шамрай А.Д<br/>
    Бошкаов Д.А<br/>
    Чупятов Д.А <br/>
    Воробьев А.А.<br/>
    Ломакин А.М.<br />

</h1>


